body {
    background: #654ea3;
    background: linear-gradient(to right, #3395FB, #FDFEFE);
    min-height: 100vh
}
.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url("/static/Images/blog3.jpg");
    background-size: cover;
    background-repeat: no-repeat
}

