{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/postcreate.css' %}">
<br/><br/><br/>
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-8 col-lg-7 col-md-9">
            <div class="card b-0" >
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                  <fieldset class="show">
                      <legend class="border-bottom mb-4"><h1>Create Posts</h1></legend>
            {{form|crispy }}

        </fieldset>
                              <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Publish</button>
        </div>
                    </form>

            </div>
        </div>
    </div>
</div>



{% endblock content%}